extends base

block index
	if (user)
		div#chatWrap
			h2 
				| Welcome 
				span.current-name #{user.username}
				| !
			label.sr-only(for='secretKey') Secret Key
			input#secretKey.form-control(type='password', placeholder='Enter your shared secret key', autofocus='')
			p#note
				| Your shared secret key is required to chat securely with your friends. Anyone that wants to communicate must have the same key
				| so that everyone can decrypt each other's messages.
			p#error
			div#chat.form-control
				p#emptyChat Chat room empty.
			label.sr-only(for='chatMessage') Message: 
			input#chatMessage.form-control(type='text', placeholder='Enter your message', required='FIll', autofocus='')
			button#sendMessage.btn.btn-lg.btn-default(type='submit') Send
		script(src='/index.js')
	else
		h1.cover-heading Communicate securely.
		p.lead
			| Cryptochat is a secure chat platform for chatting with people. All communication is encrypted and decrypted client-side, meaning the server has no way to read your messages. Try it out below by registering.
		p.lead
			a.btn.btn-lg.btn-default(href='/register') Register
