doctype html
html
	head
	title Secure Chat 0.0.1
	
	script(src='/socket.io/socket.io.js')
	
	script(src='bower_components/jquery/dist/jquery.min.js')
	script(src='bower_components/crypto-js/crypto-js.js')
	script(src='bower_components/crypto-js/aes.js')

	style(type='text/css').
		#error {
		color: red;
		}
		#chat {
		border: solid;
		height: 500px;
		width: 500px;
		overflow: auto;
		}
		.names-others {
		color: blue;
		}
		.current-name {
		color: orange;
		}
	body
		h1 Welcome To Secure Chat!

		if (!user)
			a(href='/login') Login
			br
			a(href="/register") Register
		else
			h2 
				| Welcome 
				span.current-name #{user.username}
				| !
			
			label Secret Key: 
			input(id='secretKey', type='password')
			br
			a(href="/logout") Logout

			br

			p#error

			div#chatWrap
				div#chat
				input#chatMessage
				button#sendMessage(type='submit') Send

			script(src='/index.js')