html
	head
		title Register
	body
		h1="Please register your account"

	form(method='post')
		label Username:
		input(name='username')
		br
		label Password:
		input(type='password', name='password')
		input(type='submit')
		input(type='hidden', name='_csrf', value=csrfToken)
